$site-font: 'Montserrat', sans-serif;

$site-main-font-color: #FFF;
$site-article-font-color: #000;
$menu-color: #003366;
$article-header-color: #CF649A; 
$article-p-color: #EDEDED;	
$article-header-color-mobile: #FFF;

$breakpoint-phone: 767px;